img {
    display: block;
    width: 190px;
	margin: 50px auto 40px auto;
}

.hr-header {
	background-color: transparent;
	background-image: url(../img/hr.png);
	border: 0;
	height: 3px;
	clear: both;
	margin: 20px 0px;
	overflow: hidden;
}

.header {
    max-width: 1200px;
    margin: auto;
}

.nav-bar {
    display: flex;
    justify-content: center;
}

.nav-li-element {
    letter-spacing: 1px;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 25px;
    color:white;
    border-right: solid 1px #7a685c;
}

.nav-li-element:last-child {
    border-right: none;
}

.nav-li-element:hover {
    color: #d9e227;
}

.active-link {
    color: #d9e227;
}


@media only screen and (max-width: 720px) {
    .nav-bar ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-li-element {
        border: none;
    }
}

